@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Medium.ttf);
}

ul, ol{
    font-family: roboto;
}

body{
    background-color: burlywood;
}
p:hover{
  text-shadow: 1px 1px 2px yellow;
}

img{
    border-radius: 90%;
    align: center;
}
img:hover{
transform: scale(1.2);
transition: 2s ease all;
}


button{
    box-sizing: border-box;
   background-color: aquamarine;
}
button:hover{
    transform: scale(1.2);
    background-color: purple;
}

dt{
    text-transform: uppercase;
    background: rgb(255,153,198);
    background: radial-gradient(circle, rgba(255,153,198,1) 0%, rgba(184,148,251,1) 100%);
    text-shadow: 2 px black;
}
dd{
 color: solid blue;
}

dd:hover{
    transform: scale(1.2);
}